header {
  width: 100%;
  height: 65px;
  padding: 1.5em 0;
  background: $black;
  position:relative;
  z-index: $z-4;
  margin-bottom:-65px;

  .container {
    padding:0;
  }
  .logo{
    max-width: 42px;
    float: left;
    margin-left: 2em;
    margin-top: -0.5em;
    position:relative;
    max-height: 42px;
    z-index: $z-1;
  }
  h1 {
    @include font-size(1.8);
    color: $off-black;
    text-transform: uppercase;
    letter-spacing: 5px;
    float:left;
    margin:0 0 0 .5em;
    padding:0;
    line-height:1.5;
  }
}
