/// TOP HERO /////////////////////////////
.top-hero {
  @include col(1);
  margin:0;
  background: url(../img/hero-img.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
  text-align: center;
  white-space: pre-line;
  line-height: 0;
  padding: 6em 0;
}
.hero-logo {
  display: block;
  width: 350px;
  margin: 0 auto 0;
  line-height: 100%;
}
.hero-title {
  @include font-size(5.0);
  @extend .crimson1;
  display: inline-block;
  clear: both;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin: 1em 0 0.5em;
  @include bp-at-least($bp-med) {
    @include font-size(9.0);
    letter-spacing: 15px;
  }
}
.hero-tagline {
  @include font-size(1.7);
  @include line-height(2.4);
  @extend .crimson1;
  display: inline-block;
  letter-spacing: 2px;
  color: $white;
  clear: both;
  margin: 0.5em 0 2em;
  padding: 1em 0;
  border-bottom: 1px solid $white;
  border-top: 1px solid $white;
}
.hero-btn {
  @include font-size(1.4);
  @extend .yellow-btn;
}

/// ARTIST HIGHLIGHTS /////////////////////////////////////////////////
.artist-highlight {
  @include col(1);
  margin: 0;
  padding: 6em 0;
}
