@include selection(
	$selection-bg: $blue,
	$selection-c: #fff,
	$selection-ts: none
);

// Helper Classes

.bold-text {
	font-weight: bold;
}
.underline{
  border-bottom: 1px solid $grey;
}
.underline--dotted{
  border-bottom: 1.5px dashed $grey;
}
.hidden{
  display: none;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 //// DEFAULTS ////////////////////.DS_Store
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: $white !important;
  @-moz-document url-prefix() {
    height: 100% !important;
  }
}
